html body {
  font-family: "Figtree", sans-serif !important;
  background: #000811;
}

.text-p {
  font-family: "Poppins", sans-serif !important;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.text-center {
  text-align: center;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
/* image use as bg  */
.headerImg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.banner-image-bg {
  position: absolute;
  z-index: -1;
  right: 0px;
  top: 0;
}

.aboutMe-bg {
  position: absolute;
  z-index: -1;
  right: 0px;
  top: 55%;
}

.Portfolios-Bg {
  position: absolute;
  z-index: -1;
  left: 0;
  top: 150%;
}

.experience-bg {
  position: absolute;
  z-index: -1;
  right: 0;
  top: 230%;
}

.lets-bg {
  position: absolute;
  z-index: -1;
  left: 0;
  top: 350%;
}

/* //////// */

.custom-button {
  background-color: #0096fb;
  padding: 12px 32px;
  border-radius: 12px;
  color: white;
  font-size: 14px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  text-wrap: nowrap;
}

.custom-button:hover {
  background-color: #007bbd;
}

/* Header section  */
.header-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1220px;
  width: 100%;
  margin-inline: auto;
  padding: 35px 20px 35px;
}

.header-div .header-links {
  font-size: 16px;
  font-weight: 500;
  display: flex;
  gap: 40px;
}

.mobile-menu-icon {
  display: none;
}

.header-button {
  display: block;
}

/* Banner section  */

.banner-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1240px;
  padding: 0 20px 0;
  width: 100%;
  margin-inline: auto;
}

.banner-image {
  width: 100%;
  max-width: 515px;
  height: auto;
}

.outer-gradient {
  display: inline-block;
  background: linear-gradient(to right, #0099ff, white);
  padding: 1px;
  margin-bottom: 20px;
  border-radius: 9999px;
}

.inner-text {
  background-color: #000811;
  padding: 4px 20px;
  color: white;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: -2%;
  border-radius: 9999px;
}

.banner-sub-header {
  font-size: 35px;
  font-weight: 500;
  color: #0099ff;
  margin-bottom: 30px;
}

.banner-info {
  display: flex;
  gap: 20px;
}

/* clients logo  */

.client-header {
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 35px;
}

@keyframes slides {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.logos {
  overflow: hidden;
  padding: 30px 0px;
  white-space: nowrap;
  position: relative;
}

.logos:before,
.logos:after {
  position: absolute;
  top: 0;
  content: "";
  width: 250px;
  height: 100%;
  z-index: 2;
}

.logos:before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), #000811);
}

.logos:after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), #000811);
}

.logo_items {
  display: inline-block;
  animation: 80s slides infinite linear;
}

.logos:hover .logo_items {
  animation-play-state: paused;
}

.logo_items img {
  height: auto;
  margin-inline: 50px;
}

/* About Me section*/
.about-me-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  max-width: 1060px;
  margin-inline: auto;
  padding-right: 50px;
  padding-left: 10px;
  margin-bottom: 150px;
}

.about-me-div img {
  width: 100%;
  max-width: 410px;
  height: auto;
}

.about-hero-info {
  width: 100%;
  max-width: 500px;
}

.about-discrp {
  font-size: 16px;
  margin-top: 13px;
}

.sub-header {
  font-size: 28px;
  font-weight: 500;
  color: #0099ff;
}

.about-project {
  display: flex;
  align-items: center;
  gap: 60px;
  margin-top: 30px;
  margin-bottom: 25px;
}

.about-project div {
  max-width: 100px;
}

.about-project div p {
  font-size: 16px;
  line-height: 21px;
}

/* Portfolio section*/
.portfolio-container {
  max-width: 1100px;
  padding-inline: 50px;
  margin-inline: auto;
  margin-bottom: 200px;
}

.headerText {
  font-size: 48px;
  font-weight: bold;
}

.portfolio-header div p {
  font-size: 16px;
}

.portfolio-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 35px;
}

.portfolio-header div {
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.portfolio-cards-container {
  width: 100%;
  display: grid;
  row-gap: 20px;
  column-gap: 18px;
  grid-template-columns: repeat(3, 1fr);
}

.portfolio-card div h6 {
  font-size: 20px;
  font-weight: bold;
}

.portfolio-card div p {
  font-size: 17px;
  color: #0096fb;
  margin-top: 7px;
}

.portfolio-card {
  border-radius: 10px;
  position: relative;
}

.portfolio-card img {
  width: 100%;
}

.portfolio-card div {
  background: #000e1f;
  padding: 18px 23px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* Experience section */

.experience-images-div {
  display: flex;
  gap: 80px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-width: 916px;
  margin-left: auto;
  margin-right: auto;
  padding-inline: 32px;
  margin-top: 90px;
  margin-bottom: 90px;
}

/* services section  */
.services-description {
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  margin-top: 20px;
  max-width: 477px;
  margin-left: auto;
  margin-right: auto;
  padding-inline: 15px;
}

.services-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 900px;
  width: 100%;
  padding-inline: 25px;
  margin-left: auto;
  margin-right: auto;
  gap: 25px;
  margin-top: 80px;
  margin-bottom: 70px;
}

.service-card {
  max-width: 409px;
  width: 100%;
  margin-inline: auto;
  background: #000e1f;
  border-radius: 20px;
  padding: 40px 24px 35px 24px;
}

.service-card h1 {
  margin-top: 10px;
  font-size: 24px;
  font-weight: 600;
}

.service-card .service-img {
  display: flex;
  gap: 20px;
  align-items: start;
}

.service-points-div {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-bottom: 4px;
}

.service-points-div p {
  font-size: 12px;
}

/* let's talk section*/
.lets-talk-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 900px;
  padding-inline: 25px;
  width: 100%;
  margin-inline: auto;
}

.lets-talk-div div {
  max-width: 400px;
}

.lets-talk-div div p {
  margin-top: 15px;
  margin-bottom: 20px;
  font-size: 14px;
}

.person-image {
  max-width: 409px;
  width: 100%;
  height: auto;
}
/* footer section */

.footer-main-dev {
  background: #000e1f;
  margin-inline: auto;
  max-width: 1344px;
  width: 100%;
  border-radius: 24px;
  padding: 80px 100px 0;
}

.footer-top {
  display: flex;
  align-items: start;
  flex-wrap: wrap;
  gap: 80px;
  width: 100%;
  margin-bottom: 100px;
}

.footer-contract h6 {
  margin-bottom: 25px;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.footer-contract div div {
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.footer-contract div .title {
  font-size: 12px;
  font-weight: 400;
}

.footer-contract div .info {
  font-size: 14px;
  font-weight: 700;
}

.footer-bottom {
  padding: 18px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #ffffff99;
}

.footer-bottom div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.footer-bottom p {
  font-size: 12px;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.6);
  text-transform: uppercase;
}

/* media query  */

@media screen and (max-width: 960px) {
  .banner-image {
    max-width: 480px;
  }
}

@media screen and (max-width: 900px) {
  .banner-div {
    flex-direction: column;
  }

  .portfolio-container {
    margin-bottom: 150px;
  }

  .portfolio-cards-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .headerText {
    font-size: 42px;
  }

  .experience-images-div {
    gap: 70px;
  }

  .lets-talk-div {
    gap: 50px;
    flex-direction: column;
  }

  .lets-talk-div div {
    max-width: 100%;
  }

  .footer-main-dev {
    padding: 60px 80px 0;
  }

  .lets-bg {
    top: 430%;
  }
  .experience-bg {
    height: 60%;
    width: auto;
    top: 550%;
  }
}

@media screen and (max-width: 950px) {
  .mobile-menu-icon {
    display: block;
  }

  .header-button {
    display: none;
  }
  .header-div .header-links {
    display: none;
  }
}

@media screen and (max-width: 760px) {
  .logo_items img {
    height: 15px;
    width: auto;
    margin-inline: 30px;
  }
  .client-header {
    font-size: 30px;
    margin-bottom: 30px;
  }

  .about-me-div {
    padding: 35px;
    flex-direction: column;
  }

  .about-hero-info {
    width: 100%;
    max-width: 500px;
  }

  .aboutMe-bg {
    top: 150%;
    height: 80%;
    width: auto;
  }

  .banner-image-bg {
    position: absolute;
    z-index: -1;
    right: 0px;
    top: 30%;
    width: 60%;
    height: auto;
  }
  .Portfolios-Bg {
    top: 390%;
    height: 60%;
    width: auto;
  }
  .lets-bg {
    top: 660%;
    height: 50%;
    width: auto;
  }
}
@media screen and (max-width: 660px) {
  .headerText {
    font-size: 32px;
  }

  .portfolio-container {
    margin-bottom: 100px;
  }

  .portfolio-header div p {
    font-size: 14px;
  }

  .portfolio-cards-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .experience-images-div {
    gap: 30px;
    margin-top: 50px;
    margin-bottom: 70px;
  }

  .experience-images-div img {
    width: auto;
    height: 39px;
  }

  .footer-main-dev {
    padding: 60px 40px 0;
  }

  .footer-bottom {
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
  }

  .headerImg {
    max-width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
  }
}

@media screen and (max-width: 450px) {
  .banner-info {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: start;
  }
}
